include *.md
include *.yml
include LICENSE
include MANIFEST.in

recursive-include docs *
prune docs/build

recursive-include lmmin_reference *

global-exclude *~
global-exclude *.pyc *.pyo __pycache__
global-exclude .gitignore
