code, .rst-content code {
  background: inherit;
  padding: 0px 1px;
  border: 0px;
  color: #404040;
  font-size: 90%;
}

.rst-content a code {
  color: #404040;
}

.rst-content dl:not(.docutils) dt {
  font-size: 100%;
}

/* Make autosummary tables not go off the right edge of the screen by allowing
 * the textual columns to linewrap. */
.wy-table-responsive table.docutils tr td:last-child {
  white-space: normal;
}
